<div class="card" style="width: 18rem;">
  <img src="./img/bike.jpg" class="card-img-top" alt="A bike">
  <div class="card-body">
    <h5 class="card-title">Bike</h5>
    <p class="card-text">A bike for sale. You can ride it anywhere you like!</p>
    <a href="#" class="btn btn-primary">Go to page</a>
  </div>
</div>