<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 mb-5">
      <h2 class="pb-3 border-bottom border-secondary">Login</h2>
      <div class="mb-3">
        <label for="loginEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="loginEmail">
      </div>
      <div class="mb-3">
        <label for="loginPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="loginPassword">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    <div class="col-12 col-sm-6">
      <h2 class="pb-3 border-bottom border-secondary">Sign Up</h2>
      <div class="mb-3">
        <label for="userName" class="form-label">Username</label>
        <input type="username" class="form-control" id="userName">
      </div>
      <div class="mb-3">
        <label for="userEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="userEmail">
      </div>
      <div class="mb-3">
        <label for="userPhone" class="form-label">Phone Number</label>
        <input type="password" class="form-control" id="userPhone">
      </div>
      <div class="mb-3">
        <label for="userPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="userPassword">
      </div>
      <div class="mb-3">
        <label for="userVerify" class="form-label">Verify Password</label>
        <input type="password" class="form-control" id="userVerify">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>