<div class="container">
  <div class="row mb-3">
    <div class="col border-bottom border-secondary">
      <h2>Product Title</h2>
    </div> 
  </div>

  <div class="row mb-3">
    <div class="col-12 col-md-8">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card">
              <img src="./img/bike.jpg" class="card-img"> 
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-6">
            <div class="card">
              <img src="./img/bike.jpg" class="card-img"> 
            </div>
          </div>
  
          <div class="col-6">
            <div class="card">
              <img src="./img/bike.jpg" class="card-img"> 
            </div>
          </div>
        </div>
      </div>
    </div>

    <aside class="col-12 col-md-4 border-start border-secondary">
      <div>
        <h2>Product Description: </h2>
      </div>
    </aside>
  </div>

  <div class="row">
    <div class="col border border-primary rounded">
      <div>
        <h2>Comments: </h2>
      </div>
    </div> 
  </div>
</div>